/* layout.css */

/* Container that holds the entire layout */
.layout-container {
    display: flex;
    height: 100vh;
    overflow-y: hidden  ;
  }
  
  
  /* Body section with sidebar and main content */
  .layout-body {
    display: flex;
    flex: 1;  /* Ensures the body takes the remaining space */
    background-color: white;
  }
  
  /* Sidebar styling */
  aside {
    width: 250px; /* Adjust width of sidebar */
    background-color: #EEF1F6;
    color: black;
    padding: 20px;
  }
  
  /* Main content area */
  main {
    flex: 1; /* Main content takes up the remaining space */
    padding: 20px;
    background-color: white;
    overflow-y: auto; /* Ensures content is scrollable if needed */
  }
  
  /* Optional: You can add more styles for sidebar links or hover effects */
  